* text=auto
*.cs text
*.json text
*.md text
*.meta text
*.shader text
*.txt text
*.uss text
*.xml text
*.xsd text
# use lf for files that are read in by scripts to deal with reading variables in different environments
*.txt text eol=lf
*.sh text eol=lf
git_hooks/** text eol=lf
.editorconfig text
