# CODEOWNERS for autoreview assigning in github
# File contents are based upon the documentation found at:
# https://help.github.com/articles/about-codeowners/

#
# Specify specific file types and files here
#
*                           @mmgaw113
